.followers-list {
    list-style: none;
    padding: 0;
}

.follower-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.popup-iner .unfollow-button {
    background-color: transparent;
    border: none;
    color: blue;
    cursor: pointer;
    padding: 0;
    outline: 0; /* Remove the focus outline */
}



.unfollow-button:focus,
.unfollow-button:active,
.unfollow-button:active:focus,
.unfollow-button:focus-visible {
    outline: none;
    box-shadow: none;
}

