.mainP {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.buttonP {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #0b6cb3;
    color: white;
    cursor: pointer;
}

.buttonP:hover {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

/*.listings ul.grid-view {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
/*    gap: 20px;*/
/*}*/

.listings {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #0b6cb3;
    margin-top: 10px;
    margin-bottom: 30px;
}



.fontsC {
    font-family: 'Oswald', sans-serif;
    color: #0b6cb3;
    width: 300px;
    padding-right: 30px;
}

.input-container {
    position: relative;
}

.popup-inner2 {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Add these styles */
.input-container input[type='password'],
.input-container input[type='text'] {
    padding-right: 30px;
}



/* Add the necessary styles for the delete confirmation popup */
.delete-popup {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.delete-popup p {
    margin-bottom: 10px;
}

.delete-popup input {
    margin-bottom: 10px;
    padding: 5px;
}

.delete-popup .confirm-button,
.delete-popup .cancel-button {
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.delete-popup .confirm-button {
    background-color: #dc3545;
    color: #fff;
}

.delete-popup .cancel-button {
    background-color: #6c757d;
    color: #fff;
}

/*!* Add the necessary styles for the grid view *!*/
/*.list.grid-view {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
/*    gap: 20px;*/
/*    margin-top: 20px;*/
/*}*/

/*.list.grid-view li {*/
/*    background-color: #fff;*/
/*    padding: 10px;*/
/*    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
/*}*/

/*.list.grid-view li p {*/
/*    margin-bottom: 5px;*/
/*}*/

/*.list.grid-view li img {*/
/*    width: 100%;*/
/*    height: auto;*/
/*    margin-top: 10px;*/
/*}*/

/* Add the necessary styles for the row view */
.list li {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.list li p {
    margin-bottom: 5px;
}



