.mainP {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.buttonP {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #0b6cb3;
    color: white;
    cursor: pointer;
}

.buttonP:hover {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

.listings ul.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.listings {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #0b6cb3;
    margin-top: 10px;
    margin-bottom: 30px;
}

