.mainP {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.buttonP {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #0b6cb3;
    color: white;
    cursor: pointer;
}

.buttonP:hover {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

.listings ul.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.listings {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #0b6cb3;
    margin-top: 10px;
    margin-bottom: 30px;
}



.fontsC {
    font-family: 'Oswald', sans-serif;
    color: #0b6cb3;
    width: 300px;
    padding-right: 30px;
}

.input-container {
    position: relative;
}

.popup-inner2 {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Add these styles */
.input-container input[type='password'],
.input-container input[type='text'] {
    padding-right: 30px;
}



