

.home{
    position: relative;
    left: 50px;
    top: 20px;
}

.main_signin{
    position: relative;
    margin: 5% auto;
    width: 600px;
    height: 400px;
    background: #FFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);




}

h1 {
    margin: 0 0 10px 0;
    font-weight: 300;
    font-size: 28px;
}

.center_fileds{
    margin-left: 220px;

}

.fonts1{
    font-family: 'Oswald', sans-serif;
    color: #0b6cb3;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 220px;
}


body{
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
    background-image: url('/images/mainback.jpg');
    background-size: cover;
    background-position: center;

}


input[type="forgot_password"] {
    margin-left: 220px;
}

.main_header{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #0b6cb3;
}
